.buscador{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.title{
    width: 80%;
    display: flex;
    align-items: center;
}

.title img{
    width: 50px;
    height: 50px;
}
.title span{
    font-size: 1.5rem;
}
.formulario{
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-around;
}

.form{
    padding: 5px 10px;
    font-size: 0.8rem;
}

.formulario button{
    padding: 5px 8px;
    background-color: orange;
    color: #f4f4f4;
    border: 1px solid #f4f4f4;
    cursor: pointer;
}

@media (max-width: 1150px) {
    .buscador{
        width: 100%;
    }
}

@media (max-width: 770px){
    .formulario{
      flex-direction: column;
    }
    .form{
        width: 80%;
        margin: 15px;
    }
    .formulario button{
        width: 60%;
        padding: 7px;
        border-radius: 10px;
    }
    .title{
        width: 100%;
        justify-content: center;
    }
    .title span{
        font-size: 1.3rem;
    }
    .title img{
        width: 40px;
        height: 40px;
    }
}