.buscador{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.title{
    width: 80%;
    display: flex;
    align-items: center;
}

.title img{
    width: 50px;
    height: 50px;
}
.title span{
    font-size: 1.5rem;
}
form{
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-around;
}

.form{
    padding: 5px 10px;
}