nav{
    font-family: Arial, Helvetica, sans-serif;
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    padding: 25px;
    background:linear-gradient(45deg, #0780a3, #44cdf4, #91def3);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #f4f4f4;
}

.hidden{
    display: none;
    background-color: transparent;
    border: none;
}
.hidden img{
    width: 30px;
    height: 30px;
}

.Title{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    justify-content: flex-start;
    width: 25%;
}
.Title img{
    width: 45px;
    height: 45px;
}

.Title h1{
    font-size: 2rem;
}

ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    color: #f4f4f4;
    list-style: none;
}

a{
    font-size: 1.1rem;
    color: #fbf8f8;
    text-decoration: none;
    transition: 0.3s;
    font-weight: lighter;
}
a:hover{
    color: gray;
}


.UserItem img{
    width: 35px;
    height: 35px;
}
.UserItem button{

        padding: 8px 30px;
        background: linear-gradient(45deg,rgb(212, 164, 76), orange);
        color: #f4f4f4;
        border-radius: 30px;
        border: none;
        display: flex;
        align-items: center;
        font-size: 1rem;
        cursor: pointer;
    
}

@media (max-width: 1180px) {
    .Title {
        width: 30%; 
        justify-content: flex-start; 
    }

    .Title h1 {
        font-size: 1.5rem; 
    }
    .Title img{
        width: 35px;
        height: 35px;
    }
    ul {
        width: 50%; 
    }
    .UserItem button{
        padding: 5 25px;

    }
    .UserItem img{
        width: 25px;
        height: 25px;
    }
}

