button{
    cursor: pointer;
}
.AdminContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}


.AdminContainer aside{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 250px;
    align-items: center;
    justify-content: center;
}
.AdminContainer aside h2{
    margin: 30px;
}
#add{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #e46d6d;
    color: #f4f4f4;
    border: none;
    font-size: 1.1rem;
}

#add img{
    width: 30px;
    height: 30px;
}

.AdminContainer section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.AdminContainer table{
    max-width: 1300px;
    margin-bottom: 30px;
    background-color: #ccc;
    border-collapse: separate; /* Asegura que el espaciado entre celdas se aplique */
    border-spacing: 10px; 
    border-radius: 20px;
}
.AdminContainer table img{
    cursor: pointer;
}
.AdminContainer table thead { 
    color: #676565; /* Texto blanco */
    padding: 20px;
    text-align: left; 
    /*border-collapse: collapse; */
}

.AdminContainer table tbody {
    border-spacing: 10px;
     /* Espaciado solo en el cuerpo de la tabla */
}

.AdminContainer table th, 
.AdminContainer table td {
    padding: 10px; /* Añade espacio interno a las celdas */
    border-bottom: 1px solid #ccc; /* Línea divisoria entre filas */
    text-align: left; 
}

.AdminContainer table th {
    border-bottom: 2px solid #fff; /* Línea más gruesa en el encabezado */
}

.img{
    width: 100px;
    height: 100px;
    object-fit: cover;
}

#delete{
    padding: 10px 15px;
    color: #f4f4f4;
    background-color: #676565;
    border: none;
    border-radius: 10px;
}

#delete img{
    width: 25px;
    height: 25px;
}

#edit{
    padding: 5px 10px;
    color: #f4f4f4;
    background-color: #676565;
    border: none;
    border-radius: 10px;
}

#edit img{
    width: 30px;
    height: 30px;
}

.Overlay2{
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5));
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.CardEdit{
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    background-color: #f4f4f4;
}

