.CategoriasContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-around;
    width: 100%;
    min-height: 100vh;
}
.Raw{
    padding: 10px;
    display: flex;
    gap: 10px; 
    overflow-x: auto; 
    margin-bottom: 30px;
}
.Raw > .card-container {
    flex: 1 0 200px; /* Ajusta el tamaño de las cards */
  }
label{
    font-size: 2.5rem;
    margin: 30px;
    color: gray;
}