
.ContactoContainer{
    display: flex;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.CardContact{
    color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 500px;
    height: 500px;
    background: linear-gradient(45deg, #0780a3, #44cdf4, #91def3);
    border-radius: 30px;
}

.CardContact h1{
    margin: 20px;
    color: #434040;
}

.raw{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 30px;
    text-decoration: underline;
}

.raw img{
    width: 30px;
    height: 30px;
    margin: 30px;
}


